@import './variables';

html {
  box-sizing: border-box;
  font-size: $font-size-default;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  color: $color-default;
  background-color: $primary-background;
}

body {
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  margin: 0 $margin-wrapper;
}

h1 {
  font-weight: bold;
  font-size: 60px;
  line-height: 74px;
  color: #FFFFFF;
}

h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 46px;
  margin-block-start: 0;
  margin-block-end: 0;
}

a {
  line-height: 18px;
  text-decoration-line: underline;
  color: #D4D6D4;
}

a:hover, a:active, a:focus {
  color: #FFD723;
  opacity: .75;
}

.line {
  width: 100%;
  height: 1px;
  background: rgba(33, 56, 66, 0.0955529);
  margin-bottom: 150px;
}
