.comment {
  &__wrapper {
    padding: 30px;
  }

  p {
    margin-block-start: 0;
    font-style: italic;
    font-weight: normal;
    font-size: 24px;
    line-height: 40px;
  }

  &__author{
    display: flex;
    align-items: center;

    img {
      border-radius: 50%;
      margin-right: 30px;
      width: 90px;
      float: left;
      box-shadow: 20px 25px 43px 0px rgba(0, 0, 0, 0.145947);
    }

    .author {
      &__name {
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 33px;
      }

      &__position {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
      }

    }
  }


}

.comment.comment-small {
  max-width: 453px;

  p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 24px;
  }

  .comment__author{
    img {
      width: 45px;
      margin-right: 14px;
      margin-bottom: 0;
    }

    .author {
      &__name {
        font-size: 16px;
        line-height: 24px;
      }

      &__position {
        font-size: 14px;
        line-height: 21px;
        color: #152934;
      }
    }
  }
}
