.description {

  &__title {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: rgba(77, 83, 60, 0.9);
  }

  &__content {
    h2 {
      margin-bottom: 35px;
    }

    p {
      line-height: 26px;
      color: rgba(33, 56, 66, 0.6);
      margin-bottom: 42px;

    }
  }

  &__link {
    line-height: 18px;
    text-decoration-line: underline;
    color: #D4D6D4;
  }

  &__link:hover {
    opacity: .75;
  }

}
