<template>
    <div class="client">
        <div class="client__wrapper">
            <div class="client__list">
                <div class="client__item">
                    <img src="~@images/clients/porter-logo.png">
                </div>
                <div class="client__item">
                    <img src="~@images/clients/leadership-logo.png">
                </div>
                <div class="client__item">
                    <img src="~@images/clients/wal-logo.png">
                </div>
                <div class="client__item">
                    <img src="~@images/clients/ideal-logo.png">
                </div>
                <div class="client__item">
                    <img src="~@images/clients/phalen-logo.png">
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Client'
}
</script>

<style lang="scss">
@import '~@sass/variables';

.client {

    margin-left: $margin-wrapper;
    position: relative;

    &__wrapper {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        max-width: 1276px;
        min-height: 227px;
        width: 100%;
        box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
        border-radius: 2px;
        transform: translateY(-103px);
        z-index: 2;
        background-color: white;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-content: center;
        width: 100%;
        margin-right: $margin-wrapper;
    }

    &__item {
        max-width: 156px;
        max-height: 113px;
        margin-right: 66px;
    }

    &__item:last-child {
        margin-right: 0;
    }
}
</style>
