<template>
    <div class="evaluation">
        <div class="wrapper">
            <div class="line"></div>
            <h2>
                Deation & Evaluation - Best Way to Kick off Your Product Idea
            </h2>
            <div class="evaluation__services">
                <div class="evaluation__service service">
                    <div class="service__wrapper">
                        <h3>
                            Product Design Sprint
                        </h3>
                        <div class="service__content">
                            A five-day workshop that will help you answer crucial business questions
                        </div>
                        <a class="service__link" href="/">Read More</a>
                    </div>
                </div>
                <div class="evaluation__service service">
                    <div class="service__wrapper">
                        <h3>
                            Scoping Session
                        </h3>
                        <div class="service__content">
                            A workshop aimed at shaping your business idea, answering questions regarding project planning
                        </div>
                        <a class="service__link" href="/">Read More</a>
                    </div>
                </div>
                <div class="evaluation__service service">
                    <div class="service__wrapper">
                        <h3>
                            UX Review
                        </h3>
                        <div class="service__content">
                            An evaluation which will help you radically improve your product.
                        </div>
                        <a class="service__link" href="/">Read More</a>
                    </div>
                </div>
                <div class="evaluation__service service">
                    <div class="service__wrapper">
                        <h3>
                            Code Review
                        </h3>
                        <div class="service__content">
                            Do you know what one of the key secrets of success is what makes people successful in business
                        </div>
                        <a class="service__link" href="/">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="make">
            <div class="wrapper">
                <h1>Let’s make something amazing together.</h1>

                <a class="make__link" href="/">LET'S GET STARTED</a>
            </div>

        </div>
    </div>
</template>

<script>
export default {
    name: 'Evaluation'
}
</script>

<style lang="scss" scoped>
@import '~@sass/variables';

.evaluation {
    h2 {
        max-width: 607px;
        margin-bottom: 60px;
    }

    &__services {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    &__service {
        display: flex;
        max-width: 255px;
        margin-right: 30px;
        z-index: 3;

        h3 {
            font-weight: 500;
            font-size: 24px;
            line-height: 34px;
            text-transform: uppercase;
            margin-bottom: 20px;
        }

        .service {
            &__wrapper {
                position: relative;
                margin: 27px 30px 36px 30px;
            }

            &__content {
                font-weight: 500;
                font-size: 14px;
                line-height: 26px;
                color: rgba(33, 56, 66, 0.6);
                margin-bottom: 56px;
            }

            &__link {
                position: absolute;
                bottom: 0;
            }
        }
    }

    &__service:last-child {
        margin-right: 30px;
    }

    &__service:last-child {
        margin-right: 0;
    }

    &__service:hover {
        background: #FFFFFF;
        box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
        border-radius: 4px;
    }


    .make {
        display: flex;
        position: relative;
        max-width: 100%;
        margin-right: $margin-wrapper;
        background: #FAFAFA;
        box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.145947);
        z-index: 2;

        .wrapper {
            margin: 50px auto 70px $margin-wrapper;
        }

        h1 {
            max-width: 822px;
            color: #4D533C;
            margin-bottom: 50px;
            margin-block-start: 0;
        }

        &__link {
            // margin-bottom: 70px;
        }
    }

}
</style>
