<template>
    <div class="footer">
        <div class="footer__bg"></div>
        <div class="wrapper">
            <div class="footer__contacts">
                <div class="footer__contact contact">
                    <div class="contact__name">
                        Phone
                    </div>
                    <div class="contact__description">
                        +7 (000) 000-00-00
                    </div>
                </div>
                <div class="footer__contact contact">
                    <div class="contact__name">
                        Address
                    </div>
                    <div class="contact__description">
                        Moscow New Street
                    </div>
                </div>
            </div>

            <div class="line"></div>

            <div class="footer__menu">
                <div v-for="menu in footer" class="footer__submenu submenu" v-bind:key="menu.name">
                    <div class="submenu__name">
                        {{ menu.name }}
                    </div>
                    <div class="submenu__link" v-for="submenu in menu.submenu" v-bind:key="submenu.name">
                        <a v-bind:href="submenu.link">{{ submenu.name }}</a>
                    </div>
                </div>

                <div class="footer__submenu submenu vertical" />

                <div class="footer__submenu submenu">
                    <div class="submenu__name">
                        Get in Touch
                    </div>
                    <div class="submenu__link">
                        <a href="/">Feel free to get in touch with us vai email</a>
                    </div>
                    <div class="submenu__email">
                        info.web@gmail.com
                    </div>
                    <div class="submenu__socials">
                        <div class="submenu__social facebook"></div>
                        <div class="submenu__social twitter"></div>
                        <div class="submenu__social google"></div>
                        <div class="submenu__social in"></div>
                    </div>
                </div>
            </div>

            <div class="line"></div>

            <div class="footer__rights">
                © 2020@web. All Rights Reserved.
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Footer',
    data() {
        return {
            footer: [
                {
                    name: 'Services',
                    submenu: [
                        { name: 'Strategy Design', link: '/' },
                        { name: 'Product Design', link: '/' },
                        { name: 'Content Strategy', link: '/' },
                        { name: 'Brand Strategy', link: '/' },
                        { name: 'Development', link: '/' }
                    ]
                },
                {
                    name: 'Help And Advice',
                    submenu: [
                        { name: 'How it works', link: '/' },
                        { name: 'Contact Support', link: '/' },
                        { name: 'Privacy Policy', link: '/' },
                        { name: 'FAQ', link: '/' }
                    ]
                },
                {
                    name: 'Company',
                    submenu: [
                        { name: 'About', link: '/' },
                        { name: 'Blog', link: '/' },
                        { name: 'Contact', link: '/' },
                        { name: 'Jobs', link: '/' }
                    ]
                }
            ]
        }
    }
}
</script>

<style lang="scss" scoped>
.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    transform: translateY(-190px);
    background-color: #4F553D;

    .line {
        background: #5D6544;
        margin-bottom: 60px;
    }

    .vertical {
        height: auto;
        width: 1px;
        background: #5D6544;
    }

    .wrapper {
        z-index: 1;
    }

    &__bg {
        position: absolute;
        width: 100%;
        height: 100%;
        background: url('~@images/footer_bg-min.png') no-repeat center;
        background-size: cover;
        opacity: 0.35;
    }

    &__contacts {
        display: flex;
        flex-wrap: wrap;
        margin-top: 310px;
    }

    .contact {
        margin-right: 68px;
        margin-bottom: 52px;

        &__name {
            color: #B6C197;
            margin-bottom: 8px;
            line-height: 40px;
            font-style: normal;
            font-weight: normal;
        }

        &__description {
            font-weight: bold;
            line-height: 40px;
            color: #FFFFFF;
            font-style: normal;
        }
    }

    &__menu {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 60px;
    }

    .submenu {
        margin-right: 100px;

        &__name {
            font-style: normal;
            font-weight: 600;
            line-height: 38px;
            text-transform: uppercase;
            color: #FFFFFF;
        }

        &__link {
            max-width: 270px;

            a {
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 40px;
                color: #B6C197;
                text-decoration: none;
            }
        }

        &__email {
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 38px;
            color: #FFFFFF;
            margin: 24px 0;
        }

        &__socials {
            display: flex;
        }

        &__social {
            position: relative;
            width: 33px; /* блок имеет ширину… */
            height: 33px; /* …и высоту изображения иконки */
            border-radius: 50%;
            background-color: #444A34;
            margin-right: 14px;
        }

        &__social:before {
            position: absolute;
            top: 9px;
            left: 7px;
            content: '';
            width: 22px;
            height: 22px;
        }

        &__social:hover {
            background-color: #FFD723;
        }

        .facebook:before {
            background: url("~@images/socials.png") top center;
            background-position: 0 24px;
        }

        .twitter:before {
            background: url("~@images/socials.png") top center;
            background-position: -44px 47px;
        }

        .google:before {
            background: url("~@images/socials.png") top center;
            background-position: 72px 46px;
            top: 10px;
            left: 5px;
            width: 25px;
        }

        .in:before {
            background: url("~@images/socials.png") top center;
            background-position: 22px 46px;
        }
    }

    .submenu:last-child {
        margin-right: 0;
        &__link {
            a {
                line-height: 26px;
            }
        }
    }

    &__rights {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        color: #B5C096;
        margin: 33px 0 36px 0;
        text-align: center;
    }
}
</style>
