<template>
    <header class="header">
        <div class="wrapper">
            <div class="header__wrapper">
                <div class="header__logo">
                    <a href="/" class="header__logo_link">
                        <img src="~@images/logo.png" />
                    </a>
                </div>
                <nav class="header__nav">
                    <ul class="header__list">
                        <li class="header__item">
                            <a class="header__link">Main</a>
                        </li>
                        <li class="header__item">
                            <a class="header__link">Services</a>
                        </li>
                        <li class="header__item">
                            <a class="header__link">Projects</a>
                        </li>
                        <li class="header__item">
                            <a class="header__link">Evaluation</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
</template>

<script>
export default {
    name: 'Header'
}
</script>

<style lang="scss">
@import '~@sass/variables';

.header {
    position: fixed;
    width: 100%;
    z-index: 999;
    max-width: $max-width;
    margin: 0 auto;

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: space-between;
        padding-top: 24px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        margin-right: 80px;
        list-style-type: none;
    }

    &__item:last-child {
        margin-right: 0;
    }

    &__link {
        font-size: 18px;
        line-height: 24px;
        color: white;
        text-decoration: none;
        cursor: pointer;
    }

    &__link:hover, &__link:focus, &__link:active {
        opacity: 0.75;
    }
}
</style>
