<template>
    <div class="projects">
        <div class="wrapper">
            <div class="line"></div>
            <div class="projects__title description">
                <div class="description__content">
                    <h2>
                        We Have Some Awesomr Project.
                    </h2>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    </p>
                </div>
            </div>
        </div>
        <div class="projects__project project">
            <div class="project__pic">
                <img src="~@images/bitmap.png"/>
                <div class="project__comment comment comment-small">
                    <div class="comment__wrapper">
                        <p>
                            “In my history of working with trade show vendors, I can honestly say that there is not one company
                            that I've ever worked with that has better service than Exhibit Systems.”
                        </p>
                        <div class="comment__author author">
                            <img src="~@images/armstrong.png"/>
                            <div class="author__name">
                                Angel Armstrong
                                <div class="author__position">
                                    Founder & CEO, Google
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project__description description">
                <div class="description__content">
                    <h2>
                        The wall new Balenciaga.com
                    </h2>
                    <p>
                        This article is floated online with an aim to help you find the best dvd printing solution.<br/><br/>
                        Dvd printing is an important feature used by large and small DVD production houses to print information on DVDs.
                    </p>
                </div>
                <a class="description__link" href="/">See Case Study</a>
            </div>
        </div>

        <div class="projects__project project">
            <div class="project__description description">
                <div class="description__content">
                    <h2>
                        Is this the future of
                        3D model?
                    </h2>
                    <p>
                        While it was just a TV show, that little speech at the beginning of the original Star Trek show really did do a good job of capturing our feelings about space.<br/><br/>
                        It is those feelings that drive our love of astronomy and our desire to learn more and more about it.
                    </p>
                </div>
                <a class="description__link" href="/">See Case Study</a>
            </div>
            <div class="project__pic">
                <img src="~@images/bitmap2.png"/>
                <div class="project__comment comment comment-small left">
                    <div class="comment__wrapper">
                        <p>
                            “I know they are going to be honest with me. I am not going to get a subpar product; I know it is going to be good. That is the number one advantage of working with Exhibit Systems.
                        </p>
                        <div class="comment__author author">
                            <img src="~@images/lina.png"/>
                            <div class="author__name">
                                Lina Hart
                                <div class="author__position">
                                    Founder & CEO, Jico
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="projects__project project">
            <div class="project__pic">
                <img src="~@images/bitmap3.png"/>
                <div class="project__comment comment comment-small">
                    <div class="comment__wrapper">
                        <p>
                            “Exhibit Systems is not a provider. They are not a supplier. They are a partner with expertise in making trade shows effective.”
                        </p>
                        <div class="comment__author author">
                            <img src="~@images/oliver.png"/>
                            <div class="author__name">
                                Eunice Oliver
                                <div class="author__position">
                                    Founder & CEO, Zeem
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project__description description">
                <div class="description__content">
                    <h2>
                        Is this the future of
                        Online Booking
                    </h2>
                    <p>
                        You should be able to find several indispensable facts about motivation in the following paragraphs.<br/><br/>
                        If there’s at least one fact you didn’t know before, imagine the difference it might make.
                    </p>
                </div>
                <a class="description__link" href="/">See Case Study</a>
            </div>
        </div>

    </div>
</template>

<script>
export default {
    name: 'Project'
}
</script>

<style lang="scss" scoped>
@import '~@sass/variables';

.projects {
    &__title {
        max-width: 976px;
        margin-right: auto;
        margin-bottom: 110px;


        .description__content {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            flex-direction: row;

            h2 {
                flex: 1;
                max-width: 325px;
            }

            p {
                flex: 1;
                margin-left: 133px;
                max-width: 518px;
                line-height: 26px;
            }
        }
    }

    &__project {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        margin-bottom: 165px;

        .project {
            &__pic {
                position: relative;
                max-width: 775px;
            }

            &__comment {
                bottom: 0;
                right: 0;
                position: absolute;
                background: #FFFFFF;
                box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
                border-radius: 8px;
                transform: translate(40px, 65px);
            }

            &__comment.left {
                left: 0;
                right: unset;
                transform: translate(-40px, 65px);
            }

            &__description {
                max-width: 440px;
                margin-left: 96px;
                margin-right: calc(#{$margin-wrapper} - 12px);

                .description__content {
                    margin-bottom: 90px;
                }
            }
        }
    }
}
</style>
