<template>
    <div class="service wrapper">
        <div class="service__left">
            <div class="description">
                <div class="description__title">
                    What we do for you
                </div>
                <div class="description__content">
                    <h2>
                        Strategy. Design  Content. Technology Development
                    </h2>
                    <p>
                        There’s no secret sauce, no wizard behind the curtain.
                        What makes Aerolab tick is an interdisciplinary team with a framework that fosters candid collaboration.
                    </p>
                </div>
                <a class="description__link" href="/">More know About us</a>
            </div>
        </div>

        <div class="service__right">
            <div class="comment">
                <p>
                    With More than 10 Years of Knowledge and Expertise we Design and Code Websites and Apps, We Build Brands and Help Them Succeed
                </p>
                <div class="comment__author author">
                    <img src="~@images/comment.png"/>
                    <div class="author__name">
                        Genevieve Rodriquez
                        <div class="author__position">
                            Founder & CEO, Web
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Service'
}
</script>

<style lang="scss" scoped>
@import '~@sass/variables';

.service {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 150px;

    &__left {
        flex: 1;

        .description {
            margin-top: 244px;
        }
    }

    &__right {
        margin-left: $margin-wrapper;
        flex: 1;
        max-width: 474px;
        background: #FFFFFF;
        box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.145947);

        .comment {
            margin: 244px 8px 60px 40px;
        }
    }

}
</style>
