<template>
    <div class="slider">
        <div class="slider__wrapper wrapper">
            <div class="slider__afterdescr">A place where</div>
            <h1>
                A creative agency for redemptive brands
            </h1>
            <div class="slider__beforedescr">
                Anteelo is a leading strategic design firm that builds powerful digital solutions for startups and enterprises.
            </div>
            <a class="slider__contact" href="/">Get in touch</a>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Slider'
}
</script>

<style lang="scss">
.slider {
    min-height: 811px;
    background: url('~@images/slider.png') no-repeat center;
    background-size: cover;

    &__wrapper {
        padding-top: 188px;

        h1 {
            max-width: 616px;
            margin: 0 0 24px 0;
        }
    }

    &__afterdescr {
        margin-bottom: 22px;
        color: white;
        font-size: 14px;
        line-height: 21px;
    }

    &__beforedescr {
        max-width: 581px;
        line-height: 26px;
        color: white;
        margin-bottom: 45px;
    }

    &__contact {
        line-height: 18px;
        text-decoration-line: underline;
        color: #FFD723;
        margin-bottom: 210px;
    }
    &__contact:hover, &__contact:active, &__contact:focus {
        opacity: 0.75;
    }
}
</style>
