<template>
    <main class="main">
        <Header/>
        <Slider/>
        <Client/>
        <Service/>
        <Project/>
        <Evaluation/>
        <Footer/>
        <br><br><br><br>
    </main>
</template>

<script>
import Slider from '@views/Slider';
import Header from '@views/Header';
import Client from '@views/Client';
import Service from '@views/Service';
import Project from '@views/Project';
import Evaluation from '@views/Evaluation';
import Footer from '@views/Footer';

export default {
    name: 'default',
    components: {
        Footer,
        Evaluation,
        Project,
        Service,
        Client,
        Header,
        Slider
    }
};
</script>

<style lang="scss">
@import '~@sass/variables';

.main {
    max-width: $max-width;
    margin: 0 auto;
}
</style>
